@model IEnumerable<SystemHotel.Cities>

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("../Shared/MetaTagsPartial")
    @await Html.PartialAsync("../Shared/CssPartial")
</head>
<body style="background: #eaffd3;">
    <div>
        @RenderBody()

        <div id="page-wrapper">

            <!-- Nav -->
            @await Html.PartialAsync("../Shared/Nav")

            @await Html.PartialAsync("../Shared/FormLoginRegistrPartial")

            @using (Html.BeginForm("Search", "Hotel", FormMethod.Post, new { @class = "form-list" }))
            {
            <fieldset style="padding: 5px 40px; margin-top: 10px;">

                <div class="div-dropdown">
                    <h6>Выберите город</h6>
                    @Html.DropDownList("Country", ViewBag.Countries as SelectList, new { id = "country" })
                </div>

                <div class="div-dropdown">
                    <h6>Выберите регион</h6>
                    @Html.DropDownList("Region", ViewBag.Regions as SelectList, new { id = "region" })
                </div>

                <div class="div-dropdown" style="margin-bottom: 15px;">
                    <h6>Выберите город</h6>
                    @Html.DropDownList("City", ViewBag.Cities as SelectList, new { id = "city" })
                </div>

                <p>
                    <input id="searchHotel" type="button" value="Найти" class="hotelFind" />
                </p>
            </fieldset>
            }
            <div id="window-hotel"></div>
        </div>
    </div>
    <!-- Scripts -->
    @await Html.PartialAsync("../Shared/ScriptsPartial")
    
</body>
</html>
