@model IEnumerable<SystemHotel.Cities>

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("../Shared/MetaTagsPartial")
    @await Html.PartialAsync("../Shared/CssPartial")
</head>
<body>
    <div>
        @RenderBody()

        <div id="page-wrapper">

            <!-- Nav -->
            @await Html.PartialAsync("../Shared/Nav")

            @await Html.PartialAsync("../Shared/FormLoginRegistrPartial")

            @using (Html.BeginForm("Search", "Hotel", FormMethod.Post))
            {
            <fieldset>
                <h3>Выберите страну</h3>

                @Html.DropDownList("State", ViewBag.Regions as SelectList, new { id = "state" })

                <h3>Выберите город</h3>
                @Html.DropDownList("City", ViewBag.Cities as SelectList, new { id = "city" })

                <p>
                    <input type="submit" value="Submit" />
                </p>

            </fieldset>
            }

        </div>

    </div>
    <!-- Scripts -->
    @await Html.PartialAsync("../Shared/ScriptsPartial")
</body>
</html>
