################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SystemHotel/obj/Release/netcoreapp3.1
/SystemHotel/obj/Debug/netcoreapp3.1
/.vs/SystemHotelGit/v16/TestStore/0
/SystemHotel/obj
/.vs/SystemHotel/v16
/.vs/SystemHotelGit
/.vs/VSWorkspaceState.json
/SystemHotel/bin/Debug/netcoreapp3.1
/.vs/SystemHotel
