
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    @RenderBody()
    <header>Заголовок страницы</header>

    <nav>Меню навигации</nav>

    <aside>Боковая колонка SideBar</aside>

    <article>
        
    </article>

    <footer>Подвал сайта</footer>

</body>
</html>