
<!DOCTYPE HTML>
<!--
    TXT by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">
    @RenderBody()
    <div id="page-wrapper">

        <!-- Header -->
        @await Html.PartialAsync("HeaderPartial")

        <!-- Nav -->
        @await Html.PartialAsync("Nav")


        @await Html.PartialAsync("FormLoginRegistrPartial")

        <!-- Main -->
        @await Html.PartialAsync("MainPartial")

        <!-- Footer -->
        @await Html.PartialAsync("FooterPartial")
    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptsPartial")


</body>
</html>